.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;

  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.movie-container {
  background-color: rgba(250, 192, 231, 0.4);
  min-height: 400px;
  min-width: 200px;
  margin: auto;
  margin: 10% 20%;
  text-align: center;
  padding-top: 3%;
  border-radius: 10%;
}
