input[type="text"],
input[type="number"],
input[type="decimal"],
input[type="date"] {
  width: 100%;
}

input[type="submit"] {
  right: 100px;
  width: 50%;
  padding: 5px 0;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #4c0027;
  background-color: #4c0027;
  color: white;
}

small {
  visibility: hidden;
}

input[type="submit"]:hover {
  color: #957bda;
}

.form input {
  min-height: 40px;
  min-width: 400px;
}

textarea {
  height: 400px;
  width: 400px;
}
