.edit
{
  background-color: #212529;
}
.pic
{
  
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
}
#mid {
  background-color: #212529;
}
.ss {
  background-color: #212529;
}
.n
{
  justify-content: center;
  display: grid;
  
}
.bs
{
  justify-content: center;
  display: flex;
}
.sign {
  margin: auto;
  padding: inherit;
  padding-right: initial;
  background-color: #212529;
  text-shadow: 0 0 3px #957bda;
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
}

.log {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #212529;
  height: 450px;
  margin: auto;
  padding: inherit;
  padding-right: initial;
  text-shadow: 0 0 3px #957bda;
  display: flex;
  justify-content: center;
}
.er {
  background-color: #212529;
  text-shadow: 0 0 3px #957bda;
}
.invalid {
  font-size: 11px;
  color: red;
  text-shadow: 0 0 1px;
  padding: 5px;
}
.valid {
  font-size: 11px;
  color: green;
  text-shadow: 0 0 1px;
  padding: 5px;
}

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

.form {
  padding: 40px 60px;
}

.S,
.Sn {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: inline-grid;
}
.S{display: inline-grid;}

.S label,
.Sn label {
  display: block;
  margin-bottom: 5px;
}

.S small,
.Sn small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.S.error small,
.Sn.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
